
.menu-buttons {
  font-family: 'Gambetta', serif;
  text-transform: uppercase;
}

.main-button {
  font-family: 'Gambetta', serif;
  font-size: 35px;
  font-variation-settings: "wght" 311;
  cursor: pointer;
}
.nav-mobile-list {
  font-family: 'Gambetta', serif;
  font-variation-settings: "wght" 311;
  text-transform: uppercase;
}

.main-header {
  justify-content: center;
  align-content: center;
  font-size: 35px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: PaleGoldenRod;
  outline: none;
  text-align: left;
}
.main-header:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: transparent;
}
.main-container {
  height: 100vh;
  background-image: url("../../public/main_back.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}


/*  --------Mobile--------------------- */
@media (max-width: 480px) {
  .main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-header {
    font-size: 32px;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: -1px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: MintCream;
    outline: none;
    text-align: right;
  }
  .main-header:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }
  .main-subheader {
    justify-content: end;
    letter-spacing: -1px;
    transition: 700ms ease;
    // margin-left: 70px;
    font-variation-settings: "wght" 311;
    font-size: 1.2em;
    line-height: 150%;
    color: MintCream;
    letter-spacing: .5px;
  }
  .main-subheader:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }
  .main-subheaderSec {
    justify-content: end;
    margin-left: 70px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    outline: none;
    letter-spacing: -1px;
    font-size: 1.2em;
    line-height: 150%;
    color: MintCream;
    letter-spacing: .5px;
  }
  .main-subheaderSec:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }
  .subcard-text {
    font-family: 'Gambetta', serif;
    font-weight: 35px;
    font-variation-settings: "wght" 311;
    cursor: pointer;
    height: 165px;
  }
  .main-card {
    width: 400px;
    margin-top: 40px;
  }
  .service-top-img{
    height: 180px;
  }
  .service-middle-img {
    height: 180px;
  }
  .service-bottom-img {
    height: 180px;
  }
  .contacts-icon {
    margin-left: 65px;
  }
  .contact-subtext {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Gambetta', serif;
    // margin-left: 34px;
  }
  .main-card-spec {
    width: 400px;
    height: 580px;
    margin-top: 20px;
  }
  .main-card-contacts {
    width: 400px;
    height: 610px;
    margin-top: 20px;
  }
  .contacts-icon {
    margin-left: 64px;
  }
}
/* --------Tabs--------------------- */

@media (min-width: 481px) and (max-width: 767px) {
  .main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .main-header {
    font-size: 48px;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: -1px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: MintCream;
    outline: none;
    text-align: right;
  }
  .main-header:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }
  .main-subheader {
    justify-content: end;
    letter-spacing: -1px;
    transition: 700ms ease;
    margin-left: 270px;
    font-variation-settings: "wght" 311;
    font-size: 1.2em;
    line-height: 150%;
    color: MintCream;
    letter-spacing: .5px;
  }
  .main-subheader:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }
  .main-subheaderSec {
    justify-content: end;
    margin-left: 270px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    outline: none;
    letter-spacing: -1px;
    font-size: 1.2em;
    line-height: 150%;
    color: MintCream;
    letter-spacing: .5px;
  }
  .main-subheaderSec:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }
  .main-card {
    margin-top: 40px;
    width: 570px;
  }
  .subcard-text {
    font-family: 'Gambetta', serif;
    font-size: 48px;
    font-variation-settings: "wght" 311;
    cursor: pointer;
    height: 165px;
  }
  .service-top-img{
    height: 170px;
  }
  .service-middle-img {
    height: 170px;
  }
  .service-bottom-img {
    height: 170px;
  }
  .main-card-spec {
    width: 440px;
    height: 580px;
    margin-top: 16px;
  }
  .main-card-contacts {
    width: 440px;
    height: 600px;
    margin-top: 16px;
  }
  .contacts-icon {
    margin-left: 64px;
  }
  .card-title-bottom {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

/* --------Tabs--------------------- */
@media (min-width: 768px) and (max-width: 970px) {
  .main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .main-header {
    font-size: 56px;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: -1px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: MintCream;
    outline: none;
    text-align: right;
  }
  .main-header:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }
  .main-subheader {
    justify-content: end;
    letter-spacing: -1px;
    transition: 700ms ease;
    margin-left: 270px;
    font-variation-settings: "wght" 311;
    font-size: 1.2em;
    line-height: 150%;
    color: MintCream;
    letter-spacing: .5px;
  }
  .main-subheader:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }
  .main-subheaderSec {
    justify-content: end;
    margin-left: 270px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    outline: none;
    letter-spacing: -1px;
    font-size: 1.2em;
    line-height: 150%;
    color: MintCream;
    letter-spacing: .5px;
  }
  .main-subheaderSec:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }
  
  .main-card {
    margin-top: 15px;
    width: 780px;
  }
  .subcard-text {
    font-family: 'Gambetta', serif;
    font-size: 48px;
    font-variation-settings: "wght" 311;
    cursor: pointer;
    height: 173px;
  }
  .main-card-spec {
    width: 440px;
    height: 590px;
    margin-top: 8px;
  }
  .main-card-contacts {
    width: 440px;
    height: 600px;
    margin-top: 8px;
  }
  .service-top-img{
    height: 180px;
  }
  .service-middle-img {
    height: 190px;
  }
  .service-bottom-img {
    height: 190px;
  }
  .contacts-icon {
    margin-left: 64px;
  }
}


/* --------Laptops--------------------- */
@media (min-width: 970px) and (max-width: 1200px) {
  .main {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
  }
  .main-header {
    font-size: 56px;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: -1px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: MintCream;
    outline: none;
    text-align: right;
  }
  .main-header:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }
  .main-subheader {
    justify-content: end;
    letter-spacing: -1px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    font-size: 1.2em;
    line-height: 150%;
    color: MintCream;
    letter-spacing: .5px;
  }
  .main-subheader:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }
  .main-subheaderSec {
    justify-content: end;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    outline: none;
    letter-spacing: -1px;
    font-size: 1.2em;
    line-height: 150%;
    color: MintCream;
    letter-spacing: .5px;
  }
  .main-subheaderSec:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }
  .about-container {
    margin-top: 8px;
  }
  .main-card {
    margin-top: 15px;
    width: 780px;
  }
  .subcard-text {
    height: 170px;
  }
  .main-card-contacts {
    width: 440px;
    height: 620px;
    margin-top: 8px;
  }
  .main-card-spec {
    width: 440px;
    height: 620px;
    margin-top: 8px;
  }
  .service-top-img{
    height: 180px;
  }
  .service-middle-img {
    height: 190px;
  }
  .service-bottom-img {
    height: 190px;
  }
  .contacts-icon {
    margin-left: 64px;
  }
}

/* --------Desktops and large--------------------- */
@media (min-width: 1201px) {
  .main {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
  }
  .main-header {
    font-size: 56px;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: -1px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: MintCream;
    outline: none;
    text-align: right;
  }
  .main-header:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }
  .main-subheader {
    justify-content: end;
    letter-spacing: -1px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    font-size: 1.2em;
    line-height: 150%;
    color: MintCream;
    letter-spacing: .5px;
  }
  .main-subheader:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }
  .main-subheaderSec {
    justify-content: end;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    outline: none;
    letter-spacing: -1px;
    font-size: 1.2em;
    line-height: 150%;
    color: MintCream;
    letter-spacing: .5px;
  }
  .main-subheaderSec:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }
  .about-container {
    margin-top: 8px;
  }
  .subcard-text {
    height: 170px;
  }
  .main-card {
    margin-top: 15px;
    width: 780px;
  }
  .main-card-contacts {
    width: 440px;
    height: 620px;
    margin-top: 8px;
  }
  .main-card-spec {
    width: 440px;
    height: 620px;
    margin-top: 8px;
  }
  .service-top-img{
    height: 180px;
  }
  .service-middle-img {
    height: 190px;
  }
  .service-bottom-img {
    height: 190px;
  }
  .contacts-icon {
    margin-left: 64px;
  }
  // .contact-subtext {
  //   margin-left: 34px;
  // }
}