

.main {
  position: relative;
	display: flex;
	flex-direction: column;
	margin: 200px 0;
}


.main-header {
  justify-content: center;
  align-content: center;
  font-size: 35px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: PaleGoldenRod;
  outline: none;
  text-align: left;
}
.main-header:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
}
.main-subheader {
  justify-content: center;
  margin-left: 150px;
  font-size: 1.2em;
  line-height: 150%;
  text-align: center;
  color: MintCream;
  letter-spacing: .5px;
}
.main-subheaderSec {
  justify-content: center;
  margin-left: 150px;
  font-size: 1.2em;
  line-height: 150%;
  text-align: center;
  color: MintCream;
  letter-spacing: .5px;
}
.footer {
  
}
.large-nav  {
  
}
.small-nav {
  
}
.main-container {
  height: 100vh;
  background-image: url("../../public/main_back.jpg");
  background-size: cover;
  background-position: center;
  // overflow: hidden;

}
.main-card {
  display: flex;
  flex-direction: column;
}

.laptop-card {

}

/*
.logo {
    width: 68px;
    height: 68px;
}
.card {
  height: 100%;
}
*/

/* --------Mobile--------------------- */
// @media (max-device-width: 480px) {
//   .map {
//     width:200px;
//     height: 200px;
//   }
// }
// /* --------Tabs--------------------- */
// @media (min-device-width: 481px) and (max-device-width: 767px) {
//   .map {
//     width:500px;
//     height: 600px;
//   }
// }
// /* --------Tabs--------------------- */
// @media (min-device-width: 768px) and (max-device-width: 800px) {
//   .map {
//     width:300px;
//     height: 300px;
//   }
// }
// /* --------Laptops--------------------- */
// @media (min-device-width: 970px) {
//   .map {
//     width:560px;
//     height: 400px;
//   }
// }
